{% extends 'base.html.twig' %}

{% block title %}Change Password
{% endblock %}

{% block body %}
	<section class="gray_back registration-section">
		<img src="{{ asset('media/registration_banner.jpg') }}" alt="Registration Banner" class="registration-banner">
		<div class="registration-form">
			<h1>Change password</h1>
			<p>
				{% if bForgetPass %}Welcome,
					{{userName}}.
				{% endif %}
				Please enter a new password.</p>
			{{ form_start(form) }}
			<div class="full">
				{{ form_row(form.password, {
					'attr': {
						'class': 'form-control' ~ (form.password.vars.errors|length > 0 ? ' error' : ''),
						'placeholder': 'Enter new password',
						'required': 'required'
					}
				}) }}
			</div>
			<div class="full">
				{{ form_row(form.confirm_password, {
					'attr': {
						'class': 'form-control' ~ (form.confirm_password.vars.errors|length > 0 ? ' error' : ''),
						'placeholder': 'Repeat new password',
						'required': 'required'
					}
				}) }}
			</div>
			<div class="full">
				<button type="submit" class="btn btn-primary mt-4">Change password</button>
			</div>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
