{% extends 'base.html.twig' %}

{% block title %}Forgot password
{% endblock %}

{% block body %}
	<section class="gray_back registration-section">
		<img src="{{ asset('media/registration_banner.jpg') }}" alt="Registration Banner" class="registration-banner">
		<div class="registration-form">
			<h1>Reset your password</h1>
			<p>We will send you an email to reset your password.</p>
			{% if error %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endif %}
			{{ form_start(form) }}
				<div class="full">
					{{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder': 'Enter your email', 'required': 'required' } }) }}
				</div>
				<div class="full">
					<button type="submit" class="btn btn-primary mt-4">Send reset link</button>
				</div>
			{{ form_end(form) }}
			<p class="small_text">
				<span>
					<a href="{{ path('app_login') }}" nofollow>Back to login</a>
				</span>
			</p>
		</div>
	</section>
{% endblock %}
