{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="{{ asset('js/slider.js') }}" defer></script>
{% endblock %}

{% block title %}M.K. Aesthetic Clinic
{% endblock %}

{% block body %}
	{% include 'components/preloader.html.twig' %}
	<section class="welcome">
		<div class="back_full_picture">
			<picture>
				<source media="(orientation: portrait)" srcset="{{ asset(siteHeroMobileImage) }}">
				<source media="(orientation: landscape)" srcset="{{ asset(siteHeroDesktopImage) }}">
				<img src="{{ asset(siteHeroDesktopImage) }}" alt="welcome image">
			</picture>
		</div>
		<div class="banner_info_wrap">
			<div class="header_banner_info">
				<h3>{{ siteHeroHeadlineLine1 }}</h3>
				<h1>{{ siteHeroHeadlineLine2 }}</h1>
				<p>{{ siteHeroSubheadline|nl2br }}</p>
				<button class="transparent_white_button book_now">Book now</button>
			</div>
			<div></section>
			<section>
				<h2>Our most popular treatments</h2>
				{{ render_slider() }}
			</section>
			<section class="gray_back about_us">
				<img src="{{ asset(siteOurEthosImage) }}" alt="clinic photo" class="wide_res">
				<div class="clinic_info">
					<span>Our Ethos</span>
					<h2>{{ siteOurEthosTitle }}</h2>
					<div class="about_us_text_block">
						<div class="about_us_image">
							<img src="{{ asset(siteOurEthosImage) }}" alt="clinic photo" class="narrow_res">
						</div>
						<div>
							<p>{{ siteOurEthosBody|nl2br }}</p>
						</div>
					</div>
				</div>
			</section>
			<section class="about_us">
				<div class="clinic_info">
					<span>Our story</span>
					<h2>{{ siteOurStoryTitle }}</h2>
					<div class="about_us_text_block">
						<div>
							<p>{{ siteOurStoryBody|nl2br }}</p>
						</div>
						<div class="about_us_image">
							<img src="{{ asset(siteOurStoryImage) }}" alt="clinic photo" class="narrow_res">
						</div>
					</div>
				</div>
				<img src="{{ asset(siteOurStoryImage) }}" alt="clinic photo" class="wide_res">
			</section>
			<section class="why_us">
				<div class="back_full_picture">
					<img src="{{ asset('media/why_us.png') }}" alt="back">
				</div>
				<div class="content">
					<h2 class="white_header ">Why people choose us</h2>
					{{ render_benefits() }}
				</div>
			</section>
			{# <section class="gray_back book_form" id="book_now">
				<h2>Book now</h2>
				<div class="book_form_wrap">
					{% include 'components/book_form.html.twig' %}
					<div class="book_pic">
						<img src="{{ asset('media/book_pic_1_1.png') }}" alt="Book Picture">
					</div>
				</div>
			</section> #}
			{% include 'components/online_book.html.twig' %}
		{% endblock %}
