{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="{{ asset('js/slider.js') }}" defer></script>
{% endblock %}

{% block title %}M.K. Aesthetic Clinic
{% endblock %}

{% block body %}
	<div id="preloader">
		<div class="logo_el_wrap">
			<div class="logo-container">
				<img src="{{ asset('media/footer_logo.svg') }}" alt="Logo" class="logo">
			</div>
			<div class="clinic-name">
				<span>M.K. Aesthetic Clinic</span>
			</div>
		</div>
	</div>
	<section class="welcome">
		<div class="back_full_picture">
			<picture>
				<source media="(orientation: portrait)" srcset="{{ asset('media/welcome_mobile_1.webp') }}">
				<source media="(orientation: landscape)" srcset="{{ asset('media/welcome_2.jpg') }}">
				<img src="{{ asset('media/welcome_2.jpg') }}" alt="welcome image">
			</picture>
		</div>
		<div class="banner_info_wrap">
			<div class="header_banner_info">
				<h3>SCIENCE. ARTISTRY. YOU.</h3>
				<h1>M.K. AESTHETIC CLINIC</h1>
				<p>Experience a new era of aesthetics — restore youth, refine beauty, reveal confidence</p>
				<button class="transparent_white_button book_now">Book now</button>
			</div>
			<div></section>
			<section>
				<h2>Our most popular treatments</h2>
				{{ render_slider() }}
			</section>
			<section class="gray_back about_us">
				<img src="{{ asset('media/our_ethos.png') }}" alt="clinic photo" class="wide_res">
				<div class="clinic_info">
					<span>Our Ethos</span>
					<h2>Where Science Meets Artistry</h2>
					<div class="about_us_text_block">
						<div class="about_us_image">
							<img src="{{ asset('media/our_ethos.png') }}" alt="clinic photo" class="narrow_res">
						</div>
						<div>
							<p>
								Driven by a deep commitment to advancing every aspect of skin health, M.K. Aesthetic
																Clinic was founded on Broadway in Leigh-on-Sea, where we specialise in aesthetic
																medicine and anti-ageing treatments.
							</p>
							<br>
							<p>
								Led by a team of elite practitioners, the clinic is renowned for its minimalist and
																integrated approach — combining advanced techniques and complementary
																modalities to achieve results that are always natural-looking, balanced, and refined.
							</p>
							<br>
							<p>
								At M.K. Aesthetic Clinic, our philosophy is simple:
																to deliver youthful, rejuvenated radiance through cutting-edge, clinically proven
																treatments, grounded in science and guided by artistry.
							</p>
							<br>
							<p>
								At the heart of our ethos lies a simple promise: to enhance, never to change — and to
																reveal your most authentic, naturally beautiful self.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="about_us">
				<div class="clinic_info">
					<span>Our story</span>
					<h2>Where It All Began</h2>
					<div class="about_us_text_block">
						<div>
							<p>
								Situated on Broadway in Leigh-on-Sea, M.K. Aesthetic Clinic was founded with a clear
																vision — to enhance natural beauty and restore confidence through subtle, refined
																results.
							</p>
							<br>
							<p>
								We specialise in advanced skincare and anti-ageing treatments, blending the latest
																innovations in aesthetic medicine with a highly personalised approach. Every treatment
																is thoughtfully designed to harmonise with your unique features, ensuring results that
																are elegant, balanced, and authentically you.
							</p>
							<br>
							<p>
								Our team of experienced and internationally trained practitioners are dedicated to
																delivering the highest standards of safety and care. Using only clinically proven
																techniques and premium medical-grade products, we provide outcomes that are both
																visible and lasting.
							</p>
							<p>
								From bespoke skin treatments to advanced injectable procedures, we are committed to
																helping you feel confident, refreshed, and naturally radiant.
							</p>
						</div>
						<div class="about_us_image">
							<img src="{{ asset('media/about_us.png') }}" alt="clinic photo" class="narrow_res">
						</div>
					</div>
				</div>
				<img src="{{ asset('media/about_us.png') }}" alt="clinic photo" class="wide_res">
			</section>
			<section class="why_us">
				<div class="back_full_picture">
					<img src="{{ asset('media/why_us.png') }}" alt="back">
				</div>
				<div class="content">
					<h2 class="white_header ">Why people choose us</h2>
					{{ render_benefits() }}
				</div>
			</section>
			{# <section class="gray_back book_form" id="book_now">
				<h2>Book now</h2>
				<div class="book_form_wrap">
					{% include 'components/book_form.html.twig' %}
					<div class="book_pic">
						<img src="{{ asset('media/book_pic_1_1.png') }}" alt="Book Picture">
					</div>
				</div>
			</section> #}
			{% include 'components/online_book.html.twig' %}
		{% endblock %}
