<section class="online_book">
	<div class="back_full_picture">
		<img src="{{ asset(siteConsultationImage) }}" alt="back">
	</div>
	<div class="content">
		<span>{{ siteConsultationEyebrow }}</span>
		<h2>{{ siteConsultationTitle }}</h2>
		<p>{{ siteConsultationBody|nl2br }}</p>
		<a class="transparent_white_button" href="{{ get_pabau_treatment_url(consultationCategoryMasterId) }}">
			{{ siteConsultationButtonLabel }}
		</a>
	</div>
</section>
