<section class="online_book">
	<div class="back_full_picture">
		<img src="{{ asset(siteBookingImage) }}" alt="back">
	</div>
	<div class="content">
		<span>{{ siteBookingEyebrow }}</span>
		<h2>{{ siteBookingTitle }}</h2>
		<p>{{ siteBookingBody|nl2br }}</p>
		<a class="transparent_white_button" href="{{ dataUrl is defined and dataUrl ? dataUrl : pabauBaseUrl }}">{{ siteBookingButtonLabel }}</a>
	</div>
</section>
