<div class="timeline-item {{ status }}">
	<div class="timeline-marker"></div>
	<div class="timeline-content">
		<h4>{{ date }}</h4>
		<p>{{ status_label }}</p>
		<p>{{ treatment }}</p>
		<p>{{ therapist }}</p>
	</div>
</div>
