<div class="treatment_card {{ additionalClass is not empty ? additionalClass : '' }}" data-id="{{ treatment.id }}">
	<div class="back_full_picture">
		<img src="{{ asset(treatment_card_img_base_dir ~ treatment.imageName) }}"
				alt="{{ treatment.imageName }}"
				onerror="this.src.startsWith('data') || this.fallbackApplied ? 0 : (this.fallbackApplied = 1, this.src = '{{ asset('media/treatments/placeholder.png') }}')"
			>
	</div>
	<div class="content">
		<div class="top">
			<h4>{{ treatment.name }}</h4>
			<p>
				{% for sentence in treatment.title|split('.') %}
					{% if sentence|trim is not empty %}
						{{ sentence|trim }}.<br>
					{% endif %}
				{% endfor %}
			</p>
		</div>
		{% if treatment.isActive and isEditor %}
			<div class="treatment-card-actions">
				<button class="action-btn edit" title="Edit" data-id="{{ treatment.id }}" onclick="window.open('{{ path('treatment_edit', {id: treatment.id}) }}', '_blank')">
					<i class="fa fa-pen"></i>
				</button>
				<button class="action-btn toggle treatment-hide" title="{{ treatment.isActive ? 'Hide' : 'Show' }}">
					<i class="fa fa-eye{{ treatment.isActive ? '-slash' : '' }}"></i>
				</button>
				<button class="action-btn popular treatment-popular {{ treatment.isPopular ? 'active' : '' }}" title="{{ treatment.isPopular ? 'Unmark as popular' : 'Mark as popular' }}" data-id="{{ treatment.id }}">
					<i class="fa fa-star"></i>
				</button>
			</div>
		{% endif %}
		<div class="bottom">
			<p>{{ treatment.description }}</p>
			<a href="{{ path('treatment_show', { id: treatment.id, slug: treatment.name|lower|replace({' ': '_'}) }) }}">
				<button class="transparent_white_button">Learn more</button>
			</a>
		</div>
	</div>
	{% if not treatment.isActive %}
		<div class="inactive-overlay">
			<span class="default-text">Hidden</span>
			<span class="hover-text">Activate?</span>
		</div>
	{% endif %}
</div>
