{% extends 'base.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block body %}
	<section class="contacts">
		<h2>Clinic contacts</h2>
		<div class="content">
			<div class="contacts_wrap">
				{% for block in siteContactDetailBlocks %}
					<div class="contact_block">
						<h3>{{ block.title }}</h3>
						{% for item in block.items %}
							<div class="contact_with_icon">
								<img src="{{ asset('media/icons/' ~ item.icon) }}" alt="" class="contact_icon">
								<span>
									{% if item.url is not empty %}
										<a href="{{ item.url }}">{{ item.label|nl2br }}</a>
									{% else %}
										{{ item.label|nl2br }}
									{% endif %}
								</span>
							</div>
						{% endfor %}
						{% if block.note is not empty %}
							<span class="extra_info">{{ block.note|nl2br }}</span>
						{% endif %}
					</div>
				{% endfor %}
				{% for block in siteContactIconBlocks %}
					<div class="contact_block">
						<h3>{{ block.title }}</h3>
						<div class="contact_with_icon">
							{% for item in block.items %}
								<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="social_media">
									<img src="{{ asset('media/icons/' ~ item.icon) }}" alt="{{ item.label }}">
								</a>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div id="contactsMap"></div>
		</div>
	</section>
	{# <section class="gray_back book_form" id="book_now">
			<h2>Do you have some questions?</h2>
			<div class="book_form_wrap">
				{% include 'components/consultation_form.html.twig' %}
				<div class="book_pic">
					<div class="back_full_picture">
						<img src="{{ asset('media/book_pic_2_1.png') }}" alt="Book Picture">
					</div>
				</div>
			</div>
		</section> #}
	{% include 'components/online_consultation.html.twig' %}

{% endblock %}
