{% extends 'base.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block body %}

	<section class="contacts">
		<h2>Clinic contacts</h2>
		<div class="content">
			<div class="contacts_wrap">
				<div class="contact_block">
					<h3>Our phone number:</h3>
					<div class="contact_with_icon">
						<img src="{{ asset('media/icons/res1.svg') }}" class="phone_icon">
						<span>
							<a href="tel:+447717205281">+44-7717-205-281</a>
						</span>
					</div>
					<div class="contact_with_icon">
						<img src="{{ asset('media/icons/res1.svg') }}" class="phone_icon">
						<span>
							<a href="tel:+447463633467">+44-7463-633-467</a>
						</span>
					</div>
					<span class="extra_info">Daily from 10:00 to 22:00</span>
				</div>
				<div class="contact_block">
					<h3>Email:</h3>
					<div class="contact_with_icon">
						<img src="{{ asset('media/icons/email.svg') }}" class="email_icon">
						<span>
							<a href="mailto:mkaestheticclinics@gmail.com">mkaestheticclinics@gmail.com</a>
						</span>
					</div>
				</div>
				<div class="contact_block">
					<h3>We in social networks:</h3>
					<div class="contact_with_icon">
						<a href="https://www.instagram.com/m.k.aestheticclinic?igsh=c2g4NzRuOHh6MWNi" target="_blank" rel="noopener noreferrer" class="social_media">
							<img src="{{ asset('media/icons/instagram.svg') }}" alt="Instagram">
						</a>
						<a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="social_media">
							<img src="{{ asset('media/icons/facebook.svg') }}" alt="Facebook">
						</a>
						<a href="https://wa.me/447717205281" target="_blank" rel="noopener noreferrer" class="social_media">
							<img src="{{ asset('media/icons/whatsapp.svg') }}" alt="WhatsApp">
						</a>
					</div>
				</div>
				<div class="contact_block">
					<h3>Address:</h3>
					<div class="contact_with_icon">
						<img src="{{ asset('media/icons/location_grey.svg') }}" class="location_icon">
						<span>
							<address>
								135 St Clements, Broadway Leigh-on-Sea
							</address>
						</span>
					</div>
				</div>
			</div>
			<div id="contactsMap"></div>
		</div>
	</section>
	<section class="gray_back book_form" id="book_now">
		<h2>Do you have some questions?</h2>
		<div class="book_form_wrap">
			{% include 'components/consultation_form.html.twig' %}
			<div class="book_pic">
				<div class="back_full_picture">
					<img src="{{ asset('media/book_pic_2.png') }}" alt="Book Picture">
				</div>
			</div>
		</div>
	</section>

{% endblock %}
